/* Global variables */

body {
    /* DONT USE: background: #1f1f42; */
    /* DONT USE: background: #18182f; */
    /* MY DEEP BLUE: background: #232334; */
    /* Smite Deep blue: background: #05111e */
    /* Smite lighter blue: background: #071325 */
    background: #191919;
    font-size: 10pt;
    font-family: sans-serif;
}
p {
    color: white;
}

/* Header */

.header {
    background: #05111e;
    border-bottom: 1pt solid dimgray;
}

/* Input Group */

.input_group {
    margin-bottom: 50pt;
    color: white;
}
.search_container {
    position: relative;
}
#search-bar {
    color: white;
    background-color: #434343;
    border: 1px solid burlywood;
    /* border: 1px solid #ada176; */
    display: block;
    font-weight: 100;
    margin: 0 auto;
}
.search_container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 20px;
}

/* .search_container #search-image {
    position: absolute;
    top: 0px;
    left: 0px;
} */

.checkbox_box {
    display: block;
    max-width: fit-content;
    float: center
    /* padding-left: 66px; */
}
.checkbox_col {
    width: fit-content;
    height: 240px;
    /* min-width: 115px; */
    /* margin: 0px 9px; */
}
.checkbox_container {
    width: fit-content;
    margin: auto;
}
.checkbox_container h5 {
    color: burlywood;
    /* font-weight: bold; */
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.checkbox_container label {
    font-weight: normal;
    float: left;
    font-size: 10pt;
}
.checkbox_container input {
    margin-right: 1em;
}
.clear {
    clear: both;
}
.input_buttons {
    margin: 10px;
}
.input_buttons .center {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Home page */

.homepage_content #image_containter {
    margin-bottom: 5em;
}
.homepage_content #item_box {
    margin: 0pt;
    cursor: pointer;
    padding-bottom: 3em;
}
.homepage_content p {
    color: white;
    margin: 1pt;
}
.homepage_content img {
    width: 60%;
}
.homepage_content .zoom {
    transition: 0.3s;
}
.homepage_content .zoom:hover {
    /* IE 9 */
    -ms-transform: scale(1.25);
    /* Safari 3-8 */
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}
.homepage_content img:hover {
    border: 1pt solid white;
}

/* Modal */

.modal-content {
    background: #434343;
}

/* Footer */

.footer {
    background: #05111e;
    color: white;
    position: relative;
    /* bottom: 0; */
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 8pt;
}
.footer span {
    width: 100%;
}

/* Tester Borders */


/* .input_group .row {
    border: 2pt solid blue;
}
.input_group {
    border: 2pt solid green;
}
.checkbox_box {
    border: 2pt dashed orange;
}
.input_group .checkbox_container {
    border: 2pt solid red;
}
.input_group .checkbox_col {
    border: 2pt dotted white;
} */

.homepage_content {
    border: 2pt solid green;
}
.homepage_content #image_containter {
    border: 2pt dashed yellow;
}
.homepage_content #row {
    border: 2pt solid blue;
}
.homepage_content #item_box {
    border: 2pt solid red;
}
.footer {
    border: 2pt solid red;
}