body {
    /* DONT USE: background: #1f1f42; */
    /* DONT USE: background: #18182f; */
    background: #232334;
}
p {
    color: white;
}

/* Home page */

.homepage_content {
    border: 2pt solid green;
}
.homepage_content #image_containter {
    border: 2pt solid yellow;
    /* margin: 10em; */
}
.homepage_content #item_box {
    border: 2pt solid red;
    margin: 0pt;
    cursor: pointer;
    padding-bottom: 3em;
}
.homepage_content p {
    color: white;
    margin: 1pt;
    font-size: 10pt;
}
.homepage_content img {
    width: 80%;
}
.homepage_content .zoom {
    transition: 0.3s;
}
.homepage_content .zoom:hover {
    /* IE 9 */
    -ms-transform: scale(1.25);
    /* Safari 3-8 */
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

/* Footer */

.footer {
    border: 2pt solid red;
    color: white;
    position: relative;
    bottom: 0;
    /* width: 100%; */
    height: 60px;
    line-height: 60px;
}